.accordion {
	
	.header {
		.inner {
			padding: 5.1em 2.45em;
			background: $brand-purple;
		}
	}
	
	.body {		
		.inner {
			padding-top: 7.4em;
			padding-bottom: 7.4em;
			background: $off-white;
		
			.accordion {
				
				.card {
					background: $off-white;
					border-radius: 0;
					border: 2px solid #878787;
					
					&:not(:last-of-type) {
						border-bottom: 0;
					}
					
					.card-header {
						position: relative;
						padding: 0.8rem 3.6rem 0.8rem 0.9rem;
						background: $off-white;
						cursor: pointer;
						
					&:after {
						content: '';
						position: absolute;
						right: 0.9rem;
					    top: 50%;
					    transform: translateY(-50%) rotateX(0deg);
						width: 30px;
						height: 15px;
						background-image: url(../../../library/images/accordion-toggle.svg);
						transition: transform 0.3s ease;
						
					}
					
					&.open:after {
					    transform: translateY(-50%) rotateX(180deg);
					}
						
						.btn {
							text-align: left;
							color: #000;
							font-size: rem-calc(30px);
							line-height: 1.2;
						}
						
					}
				
					.collapse {
						background: $off-white;
						padding: 2em 3.375em 3em;
						
						.card-body {
							padding: 0;
							margin: 0 2.15em;
							background: #fff;
							color: #000000;
							
							.table-row,
							.text-row {
								border-width: 1px 0;
								border-style: solid;
								border-color: #000;
								
							}
								
							.table-row  {	
								&:not(:last-child) {
									border-bottom: 0;
								}
								
								.col:first-child {
									font-weight: bold;
									border-right: 0;
								}
								
							}
								
							.col {
								padding: 1.75em 1.3em;
								background: #fff;
								border-width: 0 1px;
								border-style: solid;
								border-color: #000;
								font-size: rem-calc(16px);
								line-height: 1.2;
								
							}
							
						}
						
					}
				
				}
			
			}
	
		}
		
	}
	
}