.tiled-highlights {
	
	.highlights-wrap {
	
		article {
			min-height: 349px;
			margin-bottom: 30px;
			flex: 1 1 100%;
			
			@include media-breakpoint-up(md) {
				flex: 1 1 50%;
			}
			
			@include media-breakpoint-up(lg) {
				
				&:nth-child(1) {
					flex: 1 1 25%;
				}
				
				&:nth-child(2) {
				    flex: 1 1 75%;
				}
	
				&:nth-child(3) {
				    flex: 1 1 41.666%;
				}
	
				&:nth-child(4) {
				    flex: 1 1 25%;
				}
				
				&:nth-child(5) {
				    flex: 1 1 33.3333%;
				}
			
			}
							
			.inner {
				display: flex;
				height: 100%;
				background-size: cover;
				background-position: center center;
				
				a {
					display: flex;
					flex-direction: column;
					height: 100%;
					width: 100%;
					justify-content: space-between;
					align-items: flex-start;
					color: #fff;
					
					.post-date {
						width: 100%;
						font-weight: bold;
						font-size: rem-calc(17px);
						padding: 0.2em 0.75em;
					}
					
					.title-wrap {
						display: inline-block;
						background-color: rgba(29,54,64,0.4);
							
						h3 {
							display: inline-block;
							position: relative;
							font-weight: bold;
							font-family: $font-sans;
							font-size: rem-calc(24.75px);
							line-height: 1.54;
						}
					
					}
					
				}
				
			}
		
		}
	
	}
	
	.btn-wrap {
		padding-top: 1.35em;
	}
	
}